container_commands:
  01_make_migration:
    command: "django-admin.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true
  03_createsu:
    command: "python manage.py createsu"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: amazonNaKor.settings
