option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: amazonNaKor.settings
    SUPER_USER_EMAIL: rupang818@gmail.com
    SUPER_USER_PASSWORD: dK!310303
  aws:elasticbeanstalk:container:python:staticfiles:
    /html: statichtml
    /images: staticimages
  aws:elasticbeanstalk:container:python:
    WSGIPath: amazonNaKor/wsgi.py 
