{% extends 'base.html' %}
<head>
    {% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'userInputs/style.css' %}" type="text/css">
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container">
        <form action="output/" method="post">
            {% csrf_token %}
            <h2>Order Number: {{ invoice_id }}</h2>
            <p>{{ form|linebreaks }}</p>
            <button type="submit" class="btn btn-primary" alue="Submit">Submit</button>
        </form>
    </div>
    {% endblock %}
</body>