<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        {% block head %}
        <title>Invoice Inputs</title>
        {% endblock %}
        <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
          text-align: center; 
        }

        td:nth-child(odd){
          background-color: #FFE4B5;
        }

        th {
          background-color: #dddddd;
        }

        .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
        }

        html,
        body {
         height: 100%;
         position: relative;
        }

        .main-container {
          min-height: 100vh;
          overflow: hidden;
          display: block;
          position: relative;
          padding-bottom: 11rem;
        }

        .nav-item{
          text-align: right;
        }
        </style>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static "account/favicon.png" %}"/>
    </head>
    <body>
      <br>
      <div class="main-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <a href="home"><img src="{% static "account/logo.png" %}" height="68" width="83" padding="10" alt="Logo" style="padding: 0 10px; float: left;"></a>
          <a href="https://sfrocket.com"><img src="{% static "account/title_logo.png" %}" height="31" width="160" title="Title logo" alt="title_logo" hspace="20"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  프로필
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/account/profile">보기</a>
                  <a class="dropdown-item" href="/account/profile/edit">변경</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/account/change-password">비밀번호 변경</a>
                  <a class="dropdown-item" href="/account/reset-password">비밀번호 리셋</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  택배 보내기
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/account/registerRecipient">일반</a>
                  <!-- <a class="dropdown-item disabled" href="#">귀국</a>
                  <a class="dropdown-item disabled" href="#">TV배송</a> -->
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="https://docs.google.com/spreadsheets/d/1HDzzWQpX9ReACKX6i9DUOVQUBGjRCm9MKhTvoAcK7UM/edit#gid=0" target="_blank">배송추적</a></li>
              <!-- <li class="nav-item disabled"><a class="nav-link" href="#">배송 추적</a></li> -->
              <!-- <li class="nav-item"><a class="nav-link" href="/account/view_recipients">주소록</a></li>
              <li class="nav-item"><a class="nav-link" href="/account/view_packages">패키지</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="/account/view_items">아이템</a></li> -->
              <!-- <li class="nav-item"><a class="nav-link" href="/account/findus">찾아오시는 길</a></li> -->
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="/account/logout">로그아웃(Logout)</a></li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="/account/login">로그인(Log-in)</a></li>
              <li class="nav-item"><a class="nav-link" href="/account/register">가입(Register)</a></li>
              <li class="nav-item"><a class="nav-link" href="/account/reset-password">비밀번호 리셋</a></li>
            </ul>
            {% endif %}
          </div>
        </nav>
        <br>
        {% block body %}
        <h1>Base</h1>
        {% endblock %}
        <br><br>

      <!-- Footer definition -->
      <footer class="bg-dark text-light">
          <div class="card-deck">
            <div class="card bg-dark text-white border-0">
              <div class="card-header border-0 text-center" style="height: 1.5rem;"><b>LOCATION</b></div>
              <div class="card-body text-center" style="height: 6.5rem;">
                {% load static %}
                1914 Junction ave.<br>
                San Jose, CA 95131<br>
                <small>( <a href="https://www.google.com/maps/place/Hangil+Trade+Inc/@37.3819114,-121.9119374,17z/data=!4m13!1m7!3m6!1s0x808fcbfa7ed17c2d:0x7efbb18e5b000330!2s1914+Junction+Ave,+San+Jose,+CA+95131!3b1!8m2!3d37.3819114!4d-121.9097487!3m4!1s0x808fc99055555555:0xbef41751b43676fd!8m2!3d37.3819114!4d-121.9097487">Click</a> for Google Maps)</small>
              </div>
            </div>

            <div class="card bg-dark text-white border-0">
              <div class="card-header border-0 text-center" style="height: 1.5rem;"><b>CONTACT US</b></div>
              <div class="card-body text-center" style="height: 6.5rem;">
                  <img src="{% static "account/phone.png" %}" height="25" width="25"> 408-564-4105<br>
                  <img src="{% static "account/email.png" %}" height="25" width="25"><a href="mailto:info@sfrocket.com?"> info@sfrocket.com</a><br>
                  <img src="{% static "account/kakao.png" %}" height="25" width="25"> HangilTrade    
              </div>
            </div>

            <div class="card bg-dark text-white border-0 mx-auto">
              <div class="card-header border-0 text-center" style="height: 1.5rem;"><b>영업시간 / Hours </b></div>
              <div class="card-body text-center" style="height: 6.5rem;">
                  월 ~ 금 (9:00am – 05:00pm)<br>
                  <font color="red">점심시간: 11:30am – 01:00pm</font><br>
              </div>
            </div>
          </div>
          <div class="text-center py-3"><small>© 2019 Copyright Hangil Trade Inc & Jihoon Kim</small></div>
      </footer>
    </body>
    </div>
</html>