<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        {% block head %}
        <title>Invoice Inputs</title>
        {% endblock %}
    </head>
    <body>
        <br>
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar- navbar-dark bg-dark">
          <a class="navbar-brand" href="/account">SF Rocket</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  프로필
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/account/profile">보기</a>
                  <a class="dropdown-item" href="/account/profile/edit">변경</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/account/change-password">비밀번호 변경</a>
                  <a class="dropdown-item" href="/account/reset-password">비밀번호 리셋</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  택배 보내기
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/account/registerRecepient">일반</a>
                  <!-- <a class="dropdown-item disabled" href="#">귀국</a>
                  <a class="dropdown-item disabled" href="#">TV배송</a> -->
                </div>
              </li>
              <!-- <li class="nav-item disabled"><a class="nav-link" href="#">배송 추적</a></li> -->
              <li class="nav-item"><a class="nav-link" href="/account/view_recepients">주소록</a></li>
              <li class="nav-item"><a class="nav-link" href="/account/view_packages">패키지</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="/account/logout">로그아웃</a></li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="/account/login">로그인</a></li>
              <li class="nav-item"><a class="nav-link" href="/account/register">사인업</a></li>
            </ul>
            {% endif %}
          </div>
        </nav>
        </div>
        <br>
        {% block body %}
        <h1>Base</h1>
        {% endblock %}
    </body>
</html>