{% extends 'base.html' %}

{% block head %}
<title>Summary</title>
{% endblock %}

{% block body %}
<div class="container">
  <h1>Order Submitted!</h1>
  <div class="card-deck">
    <div class="card bg-dark text-white">
      <div class="card-header text-center"><h4>배송관련 안내문</h4></div>
      <div class="card-body">물품을 아래 주소지로 드랍해주세요 (1914 Junction Ave, San Jose CA 95131). <iframe width=450 height=450 src=https://www.google.com/maps/embed/v1/place?key=AIzaSyAQdms_gsY7auSuWlsGar5lfZbo5APfMAU&q=Hangil+Trade+Inc,San Jose></iframe> <br> *본 내용은 이메일로도 전송되었습니다
      </div>
    </div>

    <div class="card bg-light text-dark">
      <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <p><b>오더번호</b>: {{ delivery_obj.id }}</p>
            <p><b>중량</b>: {{ pkg_default_obj.weight }} lb</p>
            <p><b>Estimate</b>: ${{ delivery_obj.estimate }}</p>
          </form>
          <a href="/account/" class="button">홈으로 돌아가기 (Click Here to go back to Home)</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
