{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
  <h1>Profile</h1>
  <p>Email (Username): {{ user.email }}</p>
  <p>First name: {{ user.first_name }}</p>
  <p>Last name: {{ user.last_name }}</p>
  <p>Phone: {{ user.phone }}</p>
  <p>Address1: {{ user.address1 }}</p>
  <p>Address2: {{ user.address2 }}</p>
  <p>City: {{ user.city }}</p>
  <p>State: {{ user.state }}</p>
  <p>Zip_code: {{ user.zip_code }}</p>
</div>
{% endblock %}
