{% extends 'base.html' %}

{% block head %}
<title>주소록</title>
{% endblock %}

{% block body %}
<div class="container">
  <h1>주소록</h1>
    <p>발송자 이메일: {{ recepients_list.0.sender_email }}</p>
    <hr>
    {% for recepient in recepients_list %}
      <p>이름: {{ recepient.name }}</p>
      <p>전화번호: {{ recepient.phone }}</p>
      <p>우편번호: {{ recepient.postal_code }}</p>
      <p>주소: {{ recepient.address }}</p>
      <p>통관고유번호: {{ recepient.customs_id }}</p>
      <hr>
    {% endfor %}

</div>
{% endblock %}
