{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>수화물 정보</h1>
  <div class="card-deck">
    <div class="card bg-dark text-white">
      <div class="card-header text-center"><h4>주의사항</h4></div>
      <div class="card-body">보내시는 상품의 가로 세로 높이 길이의 총합이 60inch를 넘는 경우 부피무게와 실무게중 무거운 것으로 책정하며, 길이 총합이 60inch를 넘거나, 무게가 60lb.를 넘는 경우 할증료가 부가될 수 있습니다. TV의 경우 특수 배송으로 진행되며, 특수 배송 요율은 기본 요율과 다르기 때문에 배송전 담당자와 꼭 상의해주시길 부탁드립니다</div>
    </div>
    <div class="card bg-white text-dark">
        <div class="card-header text-center">
          <h5>수화물 중량을 입력해주세요</h5>
        </div>
      <div class="card-body">
        <br>
        <p>받는사람 이름: {{ recipient_form_data.name }}</p>
        <p>주소: {{ recipient_form_data.address }}</p>
        <form method="post">
          {% csrf_token %}
          {{ package_form.as_p }}
          <button type="submit">다음</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}