{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>배달정보</h1>
  <div class="card-deck">
    <div class="card bg-dark text-white">
      <div class="card-header text-center"><h4>전자서명</h4></div>
      <div class="card-body">
        <ol>
          <li>상품의 브랜드, 종류, 용량 등의 정보를 최대한 상세하게 기입하였으며, 정확하지 않은 정보로, 허위기입 및 오기입으로 인한 배송지연 및 과태료 발생에 대한 모든 책임은 보내신 분(고객)에게 있습니다</li>
          <li>식품 및 기능성 화장품과 같은 일반 통관 대상에 대한 통관료를 선불로 지불하지 않을 경우, 받으시는 분이 지불하셔야 합니다</li>
          <li>통관이 불가한 상품 혹은 통관이 불가한 성분이 함유된 제품의 폐기에 대한 책임은 보내신 분(고객)에게 있으며, 이는 환불 사유가 될 수 없습니다 (식물 검역건으로 검역비 발생할 수 있으며, 검역 후 합격되지 않으면 폐기될 수 있습니다)</li>
          <li>한 박스에 담기는 물품의 총 가치가 각각 15만원 (일반통관 상품 - 식품, 향수, 기능성 화장품 등) 혹은 20만원 (목록 통관 상품 – 일반 통관 외)을 넘어갈 경우, 세금이 발생할 수 있으며, 받으시는 분 이름으로 한번에 여러건의 통관건이 발생할 경우, 합산과세로 이어질 수 있습니다 </li>
          <li>이사짐 화물에 대해 수취인의 입국을 증빙할 수 있는 서류가 요구될 수 있습니다</li>
          <li>배송중 분실 및 박스 훼손으로 인해 발생하는 내품 파손등의 경우, 최대 $250.00 까지 보상이 가능하며, 이는 고객님께서 작성하신 상품 가격에 기준합니다. 단, 외관박스가 훼손되지 않고 내품만 파손되는 경우에는 포장 불량으로 보내신 분(고객)에게 책임이 있습니다</li>
        </ol>
        <br>
        <br>
          <form method="post">
            {% csrf_token %}
            {{ delivery_form.agreement_signed }} 위 사항에 동의합니다
            {% if delivery_form.errors %}
            <div class="alert alert-danger" role="alert">
              {% load static %}
              <strong><img src="{% static "account/warning.svg" %}" alt="warning" width="20" height="20">{{ delivery_form.errors.agreement_signed | striptags }}</strong>
            </div>
            {% endif %}
          </div>
    </div>

    <div class="card bg-light text-dark">
      <div class="card-header text-center"><h5>배달정보를 입력해주세요</h5></div>
      <div class="card-body">
            {% csrf_token %}
            <p>{{ delivery_form.customs_fee_payee.label }}: {{ delivery_form.customs_fee_payee }}</p>
            <p>{{ delivery_form.method.label }}: {{ delivery_form.method }}</p>
            <br>
            <button type="next">Submit</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}