{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>받는 사람 정보</h1>
  <div class="card-deck">
    <div class="card bg-dark text-white">
      <div class="card-header text-center"><h4>주의사항</h4></div>
      <div class="card-body">받는 사람 이름은 실명으로 적어주시고, 전화번호는 휴대전화 번호로 기입해주세요. 문자메시지로 배송안내가 갈 수 있습니다<br><br>
      
      주소는 신주소(길이름)와 우편번호(5자리)를 함께 기입하셔야 더 빠르고 정확한 배송이 가능합니다<br><br>
      
      통관고유부호 혹은 주민번호는 필수 입력 사항입니다. <u>해당 정보가 잘못기입되거나 입력되지 않을 경우, 배송이 지연될 수 있습니다</u><br><br>
    </div>
    </div>

    <div class="card bg-light text-dark">
        <div class="card-header text-center">
          <h5>정보는 모두 한글로 기입해주세요</h5>
        </div>
      <div class="card-body">
          
          <form method="post">
            {% csrf_token %}
            {{ recipient_form.name.label }}
            {{ recipient_form.name }}
            {% if recipient_form.name.errors %}
              <div class="alert alert-danger" role="alert">
                {{ recipient_form.name.errors | striptags }}
              </div>
            {% endif %}
            <br><br>

            {{ recipient_form.phone.label }}
            {{ recipient_form.phone }}
            {% if recipient_form.phone.errors %}
              <div class="alert alert-danger" role="alert">
                {{ recipient_form.phone.errors | striptags }}
              </div>
            {% endif %}
            <br><br>

            {{ recipient_form.postal_code.label }}
            {{ recipient_form.postal_code }}
            {% if recipient_form.postal_code.errors %}
              <div class="alert alert-danger" role="alert">
                {{ recipient_form.postal_code.errors | striptags }}
              </div>
            {% endif %}
            <br><br>

            {{ recipient_form.address.label }}
            {{ recipient_form.address }}
            {% if recipient_form.address.errors %}
              <div class="alert alert-danger" role="alert">
                {{ recipient_form.address.errors | striptags }}
              </div>
            {% endif %}
            <br><br>

            {{ recipient_form.customs_id.label }}
            {{ recipient_form.customs_id }}
            {% if recipient_form.customs_id.errors %}
              <div class="alert alert-danger" role="alert">
                {{ recipient_form.customs_id.errors | striptags }}
              </div>
            {% endif %}
            <br><br>
            
            <button type="next">다음</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
