{% extends 'base.html' %}



{% block body %}

{{ item_formset.media }}

<div class="container">
  <h1>아이템 정보</h1>
  <div class="card-deck">
    <div class="card bg-dark text-white">
      <div class="card-header text-center"><h4>주의사항</h4></div>
      <div class="card-body">
        <ul>
            <li>영양제는 6병 이상 발송 불가</li>
            <li>꿀 5kg 이상 발송 불가</li>
            <li>중고 물품의 경우에도 관부가세 기준은 동일</li>
            <li>우편번호는 5자리 신우편번호</li>
            <li>식품 및 기타 섭취하는 물품의 경우 용량을 상품명에 함께 기입 부탁드립니다 (예: Centrum Multivitamin 425 Tablets)</li>
            <li>향수 및 화장품의 경우 용량을 상품명에 함께 기입 부탁드립니다 (예: The Body Shop White Musk Eau De Toilette Perfume 30ml)</li>
            <li>전체 수량 50개 이상 발송 불가</li>
            <li>도착은 발송일 기준 3~7일정도 소요됩니다 (주말 및 공휴일 제외)</li>

            <li>보내시는 물품이 향수, 기능성 화장품, 식품 등이 포함된 경우에도 $150.00 을 넘을 경우 관부가세 부가되며 위 상품이 포함되지 않은 경우 $200.00 까지 관부가세 부가되지 않습니다</li>
        </ul>
        </div>
    </div>
    <div class="card bg-light text-black">
      <form method="post">
        <div class="card-body">
          <ol>
              {% csrf_token %}
              {% load formset_tags %}

                <div id="item_formset" data-formset-prefix="{{ item_formset.prefix }}">
                  {{ item_formset.management_form }}

                  <div data-formset-body>
                    {% for item_form in item_formset %}
                      <div data-formset-form>
                        <li>
                          <button type="button" data-formset-delete-button>-</button>
                          <br>
                          {{ item_form.item_name.label }}
                          {{ item_form.item_name }}
                          {% if item_form.item_name.errors %}
                            <div class="alert alert-danger" role="alert">
                              {{ item_form.item_name.errors | striptags }}
                            </div>
                          {% endif %}
                          <br>
                          {{ item_form.price.label }}
                          {{ item_form.price }}
                          {% if item_form.price.errors %}
                            <div class="alert alert-danger" role="alert">
                              {{ item_form.price.errors | striptags }}
                            </div>
                          {% endif %}
                          <br>
                          {{ item_form.qty.label }}
                          {{ item_form.qty }}
                          {% if item_form.qty.errors %}
                            <div class="alert alert-danger" role="alert">
                              {{ item_form.qty.errors | striptags }}
                            </div>
                          {% endif %}
                          <div hidden>{{ item_form.DELETE }}</div>
                          <br>
                        </li>
                        <br>
                      </div>
                    {% endfor %}
                  </div>

                  <script>jQuery(function($) {
                      $("#item_formset").formset({
                          animateForms: true
                      });
                  });</script>

                  <!-- The empty form template. By wrapping this in a <script> tag, the
                  __prefix__ placeholder can easily be replaced in both attributes and
                  any scripts -->
                  <script type="form-template" data-formset-empty-form>
                      {% escapescript %}
                          <div data-formset-form>
                            <li>
                              <button type="button" data-formset-delete-button>-</button>
                              <br>
                              {{ item_formset.empty_form.item_name.label }}
                              {{ item_formset.empty_form.item_name }}
                              {% if item_formset.empty_form.item_name.errors %}
                                <div class="alert alert-danger" role="alert">
                                  {{ item_formset.empty_form.item_name.errors | striptags }}
                                </div>
                              {% endif %}
                              <br>
                              {{ item_formset.empty_form.price.label }}
                              {{ item_formset.empty_form.price }}
                              {% if item_formset.empty_form.price.errors %}
                                <div class="alert alert-danger" role="alert">
                                  {{ item_form.price.errors | striptags }}
                                </div>
                              {% endif %}
                              <br>
                              {{ item_formset.empty_form.qty.label }}
                              {{ item_formset.empty_form.qty }}
                              {% if item_formset.empty_form.qty.errors %}
                                <div class="alert alert-danger" role="alert">
                                  {{ item_formset.empty_form.qty.errors | striptags }}
                                </div>
                              {% endif %}
                              <div hidden>{{ item_formset.empty_form.DELETE }}</div>
                              <br>
                            </li>
                          <br>
                        </div>
                      {% endescapescript %}
                  </script>
                  <!-- This button will add a new form when clicked -->
                 <input class="float-left" type="button" value="+ Add more" data-formset-add>

                </div>
          </ol>

          <button class="float-right" type="next" name="next" value="next">다음</button>
          <br><br>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}