{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>수화물 정보</h1>
  <div class="card-deck">
    <div class="card bg-dark text-white">
      <div class="card-header text-center"><h4>주의사항</h4></div>
      <div class="card-body">입력된 정보를 확인해주세요</div>
    </div>
    <div class="card bg-white text-dark">
        <div class="card-header text-center">
          <h5>수화물 중량을 입력해주세요</h5>
        </div>
      <div class="card-body">
        <br>
        <p>받는사람 이름: {{ recipient_form_data.name }}</p>
        <p>주소: {{ recipient_form_data.address }}</p>
        <form method="post">
          {% csrf_token %}
          {{ package_form.as_p }}
          <button type="submit">다음</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}