{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>받는 사람 정보</h1>
  <div class="card-deck">
    <div class="card bg-dark text-white">
      <div class="card-header text-center"><h4>주의사항</h4></div>
      <div class="card-body"><u>통관고유부호, 혹은 주민번호는 필수사항입니다.</u> 통관 고유부호가 입력되지 않을경우, 통관에 지연이 발생할 수 있습니다</div>
    </div>

    <div class="card bg-light text-dark">
      <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ recepient_form.name.label }}
            {{ recepient_form.name }}
            {% if recepient_form.name.errors %}
              <div class="alert alert-danger" role="alert">
                {{ recepient_form.name.errors | striptags }}
              </div>
            {% endif %}
            <br><br>

            {{ recepient_form.phone.label }}
            {{ recepient_form.phone }}
            {% if recepient_form.phone.errors %}
              <div class="alert alert-danger" role="alert">
                {{ recepient_form.phone.errors | striptags }}
              </div>
            {% endif %}
            <br><br>

            {{ recepient_form.postal_code.label }}
            {{ recepient_form.postal_code }}
            {% if recepient_form.postal_code.errors %}
              <div class="alert alert-danger" role="alert">
                {{ recepient_form.postal_code.errors | striptags }}
              </div>
            {% endif %}
            <br><br>

            {{ recepient_form.address.label }}
            {{ recepient_form.address }}
            {% if recepient_form.address.errors %}
              <div class="alert alert-danger" role="alert">
                {{ recepient_form.address.errors | striptags }}
              </div>
            {% endif %}
            <br><br>

            {{ recepient_form.customs_id.label }}
            {{ recepient_form.customs_id }}
            {% if recepient_form.customs_id.errors %}
              <div class="alert alert-danger" role="alert">
                {{ recepient_form.customs_id.errors | striptags }}
              </div>
            {% endif %}
            <br><br>
            
            <button type="next">다음</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
